<div class="container">
  <div class="row mx-auto">
    <div class="camp-item-inner mt-5">
      <div class="col-md-5 text-center mt-3">
        <%= attachment_image_tag @camp_item, :image, format: 'jpeg', size: "250x250", class: "rounded" %>
      </div>
      <div class="col-md-6 mt-3">
        <table class="table offset-md-1">
          <tbody>
            <tr>
              <td><%= @camp_item.name %></td>
            </tr>
            <tr>
              <td><%= @camp_item.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 offset-md-6 mt-5">
        <%= link_to "レビューを投稿する", new_camp_item_camp_item_value_path(@camp_item), class: 'glyphicon glyphicon-home btn btn-success' %>
        <%= link_to "レビューを見る", camp_item_camp_item_values_path(@camp_item), class: 'glyphicon glyphicon-home btn btn-primary' %>
      </div>
    </div>
  </div>
</div>








