
<div class="container">

    <div class="row mt-5">
          <div class="col-md-3 text-center">
            <%= attachment_image_tag @camp_place, :image, :fill, 200, 200, format: 'jpeg' %>
          </div>
      <div class="col-md-6 offset-md-1">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><%= @camp_place.name %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_place.address %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_place.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-5">
       <div class="col-md-12 text-center">
          <% if admin_signed_in? && current_admin.id == @camp_place.admin_id %>
            <%= link_to '編集する', edit_admin_camp_place_path(@camp_place), class: 'glyphicon glyphicon-home btn btn-success' %>
            <%= link_to '削除する', admin_camp_place_path(@camp_place), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'glyphicon glyphicon-home btn btn-danger' %>
          <% end %>
       </div>
   </div>

</div>