<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="font-weight-bold mt-2">新規投稿</h5>
    </div>
  </div>
 <%= form_with model:@post, local:true do |f| %>
   <div class="row offset-md-3">
     <%= render 'layouts/error_messages', object: f.object %>
   </div>
  <div class="row mt-4">
    <div class="row col-md-3 offset-md-1 mt-3">
      <%= attachment_image_tag @post, :image, fallback: "preview_image.jpeg", id: "preview", class: "preview-form rounded" %>
      <div class="row image-form mt-4">
        <%= f.attachment_field :image %>
        <p class="required-form">※必須</p>
      </div>
    </div>
    <div class="col-md-7 offset-md-1">
      <div class="form-group form-inline">
      　<p class="mr-2">タイトル<p class="required-form">※必須</p></p>
        <div class="ml-5"><%= f.text_field :title, size: "30", class: "form-control" %></div>
      </div>
      <div class="form-group form-inline">
      　<p class="mr-4">本文</p>
        <div class="ml-5"><%= f.text_area :review, size: "40x6", class: "form-control" %></div>
      </div>
      <div class="form-group form-inline">
        <%= f.label :tag_ids, "タグ" %><span class="form-required form-auto">【 ,】で区切ると複数登録可能</span>
        <%= f.text_field :tag_ids, value: @tag_list, class: "form-control ml-4" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-6">
      <%= f.submit "投稿する", class:"glyphicon glyphicon-home btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>