
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="font-weight-bold mt-2">新規投稿</h5>
    </div>
  </div>
 <%= form_with model:@post, local:true do |f| %>
   <div class="row offset-md-2">
     <%= render 'layouts/error_messages', object: f.object %>
   </div>
  <div class="row mt-5">
    <div class="row col-md-3 mt-4">
      <img id="preview" style="width:100%;" style="height:70%;">
      <div class="row offset-md-2 mt-5">
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="col-md-7 offset-md-2 mt-4">
      <div class="form-group form-inline">
      　<p class="mr-2">タイトル</p>
        <div class="ml-5"><%= f.text_field :title, size: "30", class: "form-control" %></div>
      </div>
      <div class="form-group form-inline">
      　<p class="mr-4">本文</p>
        <div class="ml-5"><%= f.text_area :review, size: "40x6", class: "form-control" %></div>
      </div>
      <div class="form-group form-inline">
        <%= f.label :tag_ids, "タグ" %><span class="form-required form-auto">【 ,】で区切ると複数登録可能</span>
        <%= f.text_field :tag_ids, value: @tag_list, class: "form-control offset-md-1"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-6 mt-4">
      <%= f.submit "投稿する", class:"glyphicon glyphicon-home btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>
<script>
  $('#post_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>