<div class="container">
  <div class="row mt-2">
    <div class="col-md-3">
      <%= link_to  user_path(@post.user) do %>
        <%= attachment_image_tag @post, :image,  :fill, 250, 250, format: 'jpeg' %>
      <% end %>
      <% @post.tags.each do |tag| %>
        <div class="col-5 mt-2 post-tag-box">
          <%= link_to tag_path(tag.id), style: "color: #494848;" do %>
            <i class="fas fa-hashtag"></i><%= tag.name %>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-12 text-center mt-2">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to '削除する', post_path(@post.id), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <table class="table">
        <tbody>
          <tr>
            <td><%= @post.title %></td>
          <tr>
            <td><%= @post.review %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <% if user_signed_in? %>
        <div class="new-comment">
          <div id="comment_buttons_<%= @post.id %>">
            <%= render partial: 'post_comments/comment', locals: {post: @post, post_comment: @post_comment} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>











