<div class="container">
  <div class="row">
    <div class="new-content-inner mt-5">
      <div class="col-md-12">
        <%= form_with model:  [:admins, @camp_place], local:true do |f| %>
          <div class="row">
           <%= render 'layouts/error_messages', object: f.object %>
          </div>
          <div class="form-group">
            <%= f.label :キャンプ場の写真 %>
            <%= f.attachment_field :post_images_images, multiple: true, class: "form-control-file user_image" %>
          </div>
          <div class="form-group">
            <%= f.label :キャンプ場 %>
            <%= f.text_field :name, class: "form-control name" %>
          </div>
          <div class="form-group">
            <%= f.label :住所 %>
            <%= f.text_field :address, class: "form-control address" %>
          </div>
          <div class="form-group">
            <%= f.label :キャンプ場紹介 %>
            <%= f.text_area :introduction, class: "form-control introduction", size: "40x6" %>
          </div>
           <div class="form-group">
            <%= f.label :料金 %>
            <%= f.text_field :fee, class: "form-control fee" %>
          </div>
          <div class="form-group text-center mt-5">
            <%= f.submit "投稿する", class: 'glyphicon glyphicon-home btn btn-success' %>
          </div>
        <% end %>
  　　</div>
  　</div>
  </div>
</div>