
<div class="container">

  <div class="row mt-5">
      <% @camp_place.post_images.each  do |post_image| %>
       <div class="d-flex flex-wrap mt-4">
         <div class="col-md-10 offset-md-6">
           <%= attachment_image_tag post_image, :image, :fill, 250, 250, format: 'jpeg' %>
          </div>
        </div>
      <% end %>
      <div class="col-md-8 offset-md-2 mt-4">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><%= @camp_place.name %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_place.address %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_place.introduction %></td>
            </tr>
            <tr>
              <td></td>
              <td><strong>￥<%= @camp_place.fee %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <%= render 'reservations', camp_place: @camp_place, camp_place_value: @camp_place_value, reservation: @reservation %>
    <%= render 'maps', camp_place: @camp_place %>

</div>

