
  <%= form_with(model:[post, post_comment], remote: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", :size =>'60x4' %>
    <div class="float-right">
        <%= f.submit "送信する" %>
    </div>
  <% end %>

  <p>コメント件数：<%= post.post_comments.count %></p>
  <div id="favorites_buttons_<%= post.id %>">
    <%= render partial: 'favorites/favorite', locals: {post: post} %>
  </div>

<div class="row">
  <% post.post_comments.each do |post_comment| %>
    <div class="col-md-5 mt-5">
      <%= link_to  user_path(post.user) do %>
        <p><%= image_tag('camp_image.9.jpg', :size =>'85x85') %></p>
      <% end %>
      <%= post_comment.user.name %>
    </div>
    <div class="col-md-7 mt-5">
      <%= post_comment.comment %>
      <div class="float-right">
        <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'btn btn-sm btn-danger' %><br>
        <% end %>
      </div>
    </div>
  <% end %>
</div>