<%= form_with(model:[post, post_comment], remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", :size =>'60x4' %>
  <div class="float-right">
    <%= f.submit "送信する" %>
  </div>
<% end %>
<div id="favorites_buttons_<%= post.id %>">
  <%= render partial: 'favorites/favorite', locals: {post: post} %>
</div>
<div class="row">
  <% post.post_comments.each do |post_comment| %>
    <div class="col-md-3 mt-3">
      <%= link_to  user_path(post.user) do %>
        <%= attachment_image_tag(post_comment.user, :profile_image, :fill, 50, 50, fallback: "user_image.jpg", size:'50x50', class: "user-image") %><br />
        <%= post_comment.user.name %>
      <% end %>
    </div>
    <div class="col-md-9 mt-3">
      <%= post_comment.comment %>
      <div class="float-right">
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'btn btn-sm btn-danger' %><br>
        <% end %>
      </div>
    </div>
  <% end %>
</div>