<div class="container">

   <div class="row">
      <div class="col-md-8 offset-md-1">
        <h5 class="font-weight-bold text-center">投稿履歴一覧</h5>
      </div>
    </div>

    <% @post.each do |post| %>
        <div class="row mt-5">
            <div class="col-md-3 text-center">
              <%= link_to (attachment_image_tag post, :image, :fill, 200, 200, format: 'jpeg'), post_path(post.id) %>
            </div>
        <div class="col-md-8 ml-5">
          <table class="table">
            <tbody>
              <tr>
                <td><p>タイトル</p></td>
                <td><%= post.title %></td>
              </tr>
              <tr>
                <td><p>本文</p></td>
                <td><%= post.review %></td>
              </tr>
              <% if post.favorited_by?(current_user) %>
                <p>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                    ♥<%= post.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_favorites_path(post), method: :post do %>
                    ♡<%= post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
     <% end %>

  </div>