
<div class="container">

    <div class="row mt-5">
     <div class="col-md-2 offset-md-3">
        <%= attachment_image_tag(@user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg") %>
      </div>

      <div class="col-md-3 text-center">
        <h6>ユーザー名</h6>
         <%= @user.name %><br />
        <h6>自己紹介</h6><br />
         <%= @user.introduction %><br />
    　</div>
    </div>

    <div class="row mt-5">
      <div class="col-md-11 text-center">
        <%= link_to '編集する', edit_user_path(@user.id), class: 'glyphicon glyphicon-home btn btn-success' %>
        <%= link_to '投稿一覧', user_post_path(@user.id), class: 'glyphicon glyphicon-home btn btn-primary', method: :get %>
      </div>
   </div>

</div>





