  <div class="row mt-5">
    <div class="col-md-10">
      <table class="table table-hover offset-md-1">
        <% users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= link_to  user_path(user) do %>
                  <%= attachment_image_tag(user, :profile_image, format: 'jpeg', fallback: "user_image.jpg", size:'50x50', class: "user-image") %>
                <% end %>
              </td>
              <td><%= user.name %></td>
              <td>
                <%= link_to "#{user.followings.count} フォロー", following_user_path(user), class: "link-color" %>
                <%= link_to "#{user.followers.count} フォロワー ", followers_user_path(user), class: "link-color" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
