<div class="container">
    <div class="col-md-7 mx-auto">
      <table class="table table-bordered">
        <tr>
          <td class="col-xs-2 table-secondary">キャンプ場</td>
          <td><%= @camp_place.name %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">利用人数(5名様まで)</td>
          <td><%= @reservation.guest %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">利用日数</td>
          <td><%= @reservation.day %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">料金</td>
          <td>¥<%= @camp_place.fee %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">支払い方法</td>
          <td><%= @reservation.payment_method %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">チェックイン</td>
          <td><%= l @reservation.start_date %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">チェックアウト</td>
          <td><%= l @reservation.end_date %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">合計金額</td>
          <td>¥<%= @reservation.total_fee %></td>
        </tr>
      </table>
    </div>
    <div class="row mt-4">
      <div class="mx-auto">
        <%= form_with(model: @reservation, url: camp_place_reservations_path, local: true) do |f| %>
          <%= f.hidden_field :day, :value => @reservation.day %>
          <%= f.hidden_field :guest, :value => @reservation.guest %>
          <%= f.hidden_field :payment_method, :value => @reservation.payment_method %>
          <%= f.hidden_field :total_fee, :value => @reservation.total_fee %>
          <%= f.hidden_field :start_date, :value => @reservation.start_date %>
          <%= f.hidden_field :end_date, :value => @reservation.end_date %>
        <%= f.submit '予約を確定する', class: "glyphicon glyphicon-home btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
