<div class="co-3 offset-md-1 mt-2">
  <h3><i class="fas fa-edit"></i> 最近の投稿</h3>
</div>
  <% @posts.first(3).each do |post| %>
    <div class="d-flex flex-wrap mt-4">
      <div class="col-12 mx-auto">
        <%= link_to post_path(post), style: "color: #494848;" do %>
          <%= attachment_image_tag(post, :image, :fill, 180, 180, format: 'jpeg', class: "rounded") %> <br />
          <div class="col-12 mt-1">
            <%= post.title %>
          </div>
        <% end %>
        <div class="col-12 ext-center">
          <div id="favorites_buttons_<%= post.id %>">
           <%= render partial: 'favorites/favorite', locals: {post: post} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<div class="row mt-2">
  <div class="col-md-12 offset-md-4">
   <%= link_to "もっと見る>>", posts_path, style: "color: #494848;", class: "float-right" %>
  </div>
</div>
