
<div class="container">
　<h3 class="ml-4 mb-5">管理者ログイン</h3>
  <%= form_with model: @admin, url: admin_session_path, id: 'new_user', class: 'new_user', local: true do |f|%>
    <div class="row ml-5">
      <label class="col-lg-3 ml-5">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'col-sm-12' %>
      </div>
    </div>
    <div class="row ml-5 mt-3">
      <label class="col-lg-3 ml-5">パスワード
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "current-password", class: 'col-sm-12' %>
      </div>
    </div>
    <div class="co-md-6 offset-md-4 mt-4">
      <%= f.submit "ログイン", class: "btn btn-primary col-lg-2 ml-5" %>
    </div>
  <% end %>
</div>