<div class="container">
  <div class="row">
    <div class="all-content-inner mt-5">
      <div class="col-md-4 mt-3">
        <%= attachment_image_tag @camp_item, :image, format: 'jpeg', size: "200x200", class: "rounded" %>
      </div>
      <div class="col-md-8 mt-3">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><%= @camp_item.name %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_item.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7 offset-md-6 mt-5">
        <%= link_to '編集する', edit_admins_camp_item_path(@camp_item), class: 'glyphicon glyphicon-home btn btn-success' %>
        <%= link_to '削除する', admins_camp_item_path(@camp_item), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'glyphicon glyphicon-home btn btn-danger' %>
      </div>
    </div>
  </div>
</div>