<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12 mt-2">
      <h3>タグの投稿一覧</h3>
    </div>
    <% @posts.first(3).each do |post| %>
      <div class="d-flex flex-wrap mt-4">
        <div class="col-12 mx-auto">
          <%= link_to post_path(post), style: "color: #494848;" do %>
            <%= attachment_image_tag(post, :image, format: 'jpeg', size: "150x150", class: "rounded") %> <br />
            <div class="col-12 mt-1">
              <%= post.title %>
            </div>
          <% end %>
          <div class="col-12 ext-center">
            <div id="favorites_buttons_<%= post.id %>">
             <%= render partial: 'favorites/favorite', locals: {post: post} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-12 mt-4 offset-md-5">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
