<div class="container">
  <div class="row">
    <div class="all-value-inner mt-5">
      <%= form_with model: [@camp_place, @camp_place_value], local:true do |f| %>
        <div class="row offset-md-2">
         <%= render 'layouts/error_messages', object: f.object %>
        </div>
        <div class="col-12 mt-2">
          <div class="form-group form-inline">
          　<p>タイトル</p><p class="required-form">※必須</p>
            <div class="ml-5"><%= f.text_field :title, size: "20", class: "form-control" %></div>
          </div>
          <div class="form-group form-inline ml-3" id="star">
            <%= f.label :rate, '評価 ', class: 'form-label' %>
            <p class="required-form mt-3">※必須</p>
            <div class="offset-md-2">
              <%= f.hidden_field :rate, id: :review_star %>
            </div>
          </div>
          <div class="form-group form-inline">
          　<p>本文</p>
            <div class="ml-5"><%= f.text_area :review, size: "60x8", class: "form-control" %></div>
          </div>
          <div class="col-md-12 mt-5 offset-md-5">
            <%= f.submit '投稿する', class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'camp_place_value[rate]',
    half: true,
  });
  </script>