
 <div class="container">

   <div class="row">
      <div class="col-md-6 offset-md-1">
        <h5 class="font-weight-bold text-center">みんなのキャンプ</h5>
      </div>
      <div class="col-md-2 offset-md-3">
        <%= link_to "", new_post_path, class:"fas fa-plus-circle fa-3x new_btn_color" %>
      </div>
    </div>

    <% @posts.each do |post| %>
        <div class="row mt-5">
            <div class="col-md-3 text-center">
              <%= link_to (attachment_image_tag post, :image,  :fill, 300, 300, format: 'jpeg'), post_path(post.id) %>
            </div>
        <div class="col-8 offset-md-1">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><p>タイトル</p></td>
                <td><%= post.title %></td>
              </tr>
              <tr>
                <td><p>本文</p></td>
                <td><%= post.review %></td>
              </tr>
               <% if post.favorited_by?(current_user) %>
                <p>
                  <%= link_to post_favorites_path(post), method: :delete do %>
                    ♥<%= post.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_favorites_path(post), method: :post do %>
                    ♡<%= post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
     <% end %>
  </div>










