
<div class="container">
 <div class="row">
   <div class="col-md-8 offset-md-1 mt-4 pl-5">
      <%= form_with model: [@camp_item, @camp_item_value], local:true do |f| %>

      <!-- 評価 -->
        <div class="form-group row" id="star">
          <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>

        <!-- 評価javascript -->
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'camp_item_value[rate]',
          half: true,
        });
        </script>

        <div class="form-group row justify-content-end">
          <div class="col-md-9">
            <%= f.submit '投稿する', class:"btn btn-success" %>
          </div>
        </div>

       <% end %>
    </div>
  </div>
 </div>
