
<div class="container">

    <div class="row mt-5">
          <div class="col-md-3 text-center">
            <%= attachment_image_tag @camp, :image, :fill, 180, 180, format: 'jpeg' %>
          </div>
      <div class="col-md-6 offset-md-1">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><p>キャンプ場</p><%= @camp.name %></td>
            </tr>
            <tr>
              <td></td>
              <td><p>住所</p><%= @camp.address %></td>
            </tr>
            <tr>
              <td></td>
              <td><p>キャンプ場紹介</p><%= @camp.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
       <div class="col-md-3 text-center mt-5">
          <% if admin_signed_in? && current_admin.id == @camp.admin_id %>
            <%= link_to '編集する', edit_admin_camp_path(@camp), class: 'glyphicon glyphicon-home btn btn-success' %>
            <%= link_to '削除する', admin_camp_path(@camp), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'glyphicon glyphicon-home btn btn-danger' %>
          <% end %>
       </div>
 </div>