<div class="container">
  <div class="row">
    <div class="user-inner text-center">
      <div class="col-md-3">
        <%= attachment_image_tag(@user, :profile_image, format: 'jpeg', fallback: "user_image.jpg", size:'100x100', class: "user-image") %>
        <div class="col-md-12 mt-2">
          <%= @user.name %>
        </div>
      </div>
      <div class="col-md-9 mt-2">
        <div>
          <%= render 'follows', user: @user %>
          <% if current_user.id == @user.id %>
            <%= link_to '編集する', edit_user_path(@user.id), class: 'my-page-btn btn btn-success' %>
          <% end %>
        </div>
        <div class="col-12 mt-3">
          <%= @user.introduction %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'tab_content', posts: @posts, like_posts: @like_posts, user: @user, reservations: @reservations %>
</div>