<div class="container">
  <div class="row mt-5">
   <div class="col-md-3 offset-md-2">
      <%= attachment_image_tag(@user, :profile_image, format: 'jpeg', size: "50x50", fallback: "user_image.jpg", size:'200x200', class: "user-image") %>
    </div>
    <div class="col-md-6">
      <div class="col-12">
        <%= @user.name %>
      </div>
      <div class="col-12 mt-3">
        <%= @user.introduction %>
      </div>
  　</div>
  </div>
  <div class="col-md-10 text-center">
    <%= link_to "#{@user.followings.count} フォロー", user_following_path(@user) %><span> | </span>
    <%= link_to "#{@user.followers.count} フォロワー ", user_followers_path(@user) %>
    <% if current_user.id != @user.id %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-md-11 text-center mt-3">
      <%= link_to '投稿履歴一覧', user_post_path(@user.id), class: 'glyphicon glyphicon-home btn btn-primary', method: :get %>
      <% if current_user.id == @user.id %>
        <%= link_to '編集する', edit_user_path(@user.id), class: 'glyphicon glyphicon-home btn btn-success' %>
        <%= link_to '予約履歴一覧', user_reservations_path(@user.id), class: 'glyphicon glyphicon-home btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
