<div class="container">
  <div class="row mt-5">
    <div class="col-md-2 offset-md-2 text-center">
      <%= attachment_image_tag(@user, :profile_image, format: 'jpeg', fallback: "user_image.jpg", size:'100x100', class: "user-image") %>
      <div class="col-md-12 mt-2">
        <%= @user.name %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-12 mt-3">
        <%= render 'follows', user: @user %>
        <% if current_user.id == @user.id %>
          <%= link_to '編集する', edit_user_path(@user.id), class: 'my_page_btn btn btn-success' %>
        <% end %>
      </div>
      <div class="col-12 mt-3">
        <%= @user.introduction %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-md-2 mt-5">
      <ul class="nav">
        <li class="tab-item">
          <a id="tab-target-1" href="#tab1" class="tab-link link-color" data-toggle="tab">投稿一覧</a>
        </li>
        <li class="tab-item">
          <a href="#tab2" class="tab-link link-color" data-toggle="tab">いいねした投稿</a>
        </li>
        <% if current_user.id == @user.id %>
          <li class="tab-item">
            <a href="#tab3" class="tab-link link-color" data-toggle="tab">予約一覧</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-10 offset-md-1 tab-content">
      <div id="tab1" class="tab-pane fade in active">
        <%= render 'posts', post: @post %>
      </div>
      <div id="tab2" class="tab-pane fade">
        <%= render 'favorites', like_posts: @like_posts %>
      </div>
      <% if current_user.id == @user.id %>
        <div id="tab3" class="tab-pane fade">
          <%= render 'public/reservations/index', user: @user, reservations: @reservations %>
        </div>
      <% end %>
    </div>
   </div>
  </div>
</div>





