<div class="container">
  <div class="row mt-5">
   <div class="col-md-3 offset-md-2">
      <%= attachment_image_tag(@user, :profile_image, :fill, 200, 200, fallback: "user_image.jpg", size:'200x200', class: "user-image") %>
    </div>
    <div class="col-md-6">
      <div class="col-12">
        <h6>ユーザー名</h6>
           <%= @user.name %>
      </div>
      <div class="col-12 mt-3">
        <h6>自己紹介</h6>
         <%= @user.introduction %>
      </div>
  　</div>
  </div>
  <div class="row mt-5">
    <div class="col-md-11 text-center mt-3">
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to '編集する', edit_user_path(@user.id), class: 'glyphicon glyphicon-home btn btn-success' %>
        <%= link_to '投稿履歴一覧', user_post_path(@user.id), class: 'glyphicon glyphicon-home btn btn-primary', method: :get %>
        <%= link_to '予約履歴一覧', user_reservations_path(@user.id), class: 'glyphicon glyphicon-home btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
