
<div class="container">
  <div class="row mt-5">
   <div class="col-md-3 offset-md-1">
      <%= attachment_image_tag(@user, :profile_image, :fill, 250, 250, fallback: "no_image.jpg") %>
    </div>
    <div class="col-md-6">
      <div class="col-12">
        <h6>ユーザー名</h6>
           <%= @user.name %>
      </div>
      <div class="col-12 mt-3">
        <h6>自己紹介</h6>
         <%= @user.introduction %>
      </div>
  　</div>
  </div>
  <div class="row mt-5">
    <div class="col-md-11 text-center">
      <%= link_to '編集する', edit_user_path(@user.id), class: 'glyphicon glyphicon-home btn btn-success' %>
      <%= link_to '投稿一覧', user_post_path(@user.id), class: 'glyphicon glyphicon-home btn btn-primary', method: :get %>
    </div>
  </div>
</div>
