<div class="container">
  <div class="row">
    <div class="user-inner">
      <div class="col-md-3">
        <%= attachment_image_tag(@user, :profile_image, format: 'jpeg', fallback: "user_image.jpg", size:'100x100', class: "user-image") %>
        <div class="col-md-12 mt-2">
          <%= @user.name %>
        </div>
      </div>
      <div class="col-md-9 mt-2">
        <div>
          <% if current_user.id == @user.id %>
            <%= link_to "#{@user.followings.count} フォロー", following_user_path(@user) %>
            <span>　|　</span>
            <%= link_to "#{@user.followers.count} フォロワー ", followers_user_path(@user) %>
          <% end %>
        </div>
        <div>
          <% if current_user.id == @user.id %>
            <%= link_to '編集する', edit_user_path(@user.id), class: 'my-page-btn btn btn-outline-success' %>
            <%= link_to '気になる', user_bookmarks_path(@user.id), class: 'my-page-btn btn btn-outline-success' %>
          <%   else %>
            <%= render 'follows', user: @user %>
          <% end %>
        </div>
        <div class="col-12 mt-3">
          <%= @user.introduction %>
        </div>
      </div>
    </div>
    <div class="mypage-post-btn">
      <%= link_to new_post_path do %>
        <i class="far fa-edit fa-3x"></i>
      <% end %>
    </div>
  </div>
  <%= render 'tab_content', posts: @posts, like_posts: @like_posts, user: @user, reservations: @reservations %>
</div>
